@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Otomotiv tamirhanesi uygulamasına hoş geldiniz.</p>
    <p>Geliştirici:Alihan Girgin,   <a href="https://github.com/alihangirgin/AutomativeRepairShop">Github Bağlantısı</a>.</p>
</div>
